/*body {
    font-family: Open Sans, sans-serif;
}*/
.header {
    background-color: #191c26;
}
.link {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;
  text-decoration: none;

  color: #ffffff;
}
